.container {
  padding: 5rem;

  .d-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .flex-items {
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
  }
}
